<launch>
    <!-- <arg name="port" default="/dev/ttyAMA0" /> --> 
    <!-- <arg name="baud" default="115200" /> -->

    	<!-- mycobot-topics -->
    <include file="$(find mycobot_communication)/launch/communication_topic.launch">
		<!-- <arg name="port" value="$(arg port)" />	-->
		<!-- <arg name="baud" value="$(arg baud)" />	-->
    </include>

    <arg name="model" default="$(find mycobot_description)/urdf/320_urdf/mycobot_pro_320.urdf"/>
    <arg name="rvizconfig" default="$(find mycobot_320)/config/mycobot_320.rviz" />
    <arg name="gui" default="true" />

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

    <!-- Combinejoin values to TF -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
		<rosparam param="source_list" subst_value="true">["joint_states"]</rosparam>
	</node>

    <!-- WE DONT NEED THE GUI SINCE WE ARE PUBLISHING OUR OWN ANGLES -->
	<!-- <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"> -->
		<!-- <param name="use_gui" value="$(arg gui)" />	 -->
		<!-- <rosparam param="source_list" subst_value="true">["joint_states"]</rosparam> -->
	<!-- </node> -->

    <!-- Show in Rviz -->
	<!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" /> -->

    <!-- listen and pub the real angles -->
    <node name="real_listener" pkg="builderbot_mycobot" type="real_mycobot.py" />

    <!-- Launch Capstone files -->
    <!-- <node name= "armState" pkg="builderbot_mycobot" type="ArmStatecpp"/> -->
    <!--<node name="control_slider" pkg="mycobot_280" type="slider_control.py"/> -->

    <!-- Open control script -->
	<!-- <node name="control_slider" pkg="mycobot_280" type="slider_control.py"> 
		<param name="port" type="string" value="$(arg port)" />
		<param name="baud" type="int" value="$(arg baud)" />
	</node> -->



    <!-- Roslaunch by calling another launch file -->
    
    <!-- <include file="$(find mycobot_280)/launch/slider_control.launch">
        <arg name="model" value="$(arg model)" />
        <arg name="rvizconfig" value="$(arg rvizconfig)" />
        <arg name="gui" value="$(arg gui)"/>
    </include> -->

</launch>
